button {
  background-color: getColour(black);
  color: getColour(white);
  border: none;
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
  font-size: 20px;
  box-shadow: 0 5px 10px 0 rgba(63, 63, 63, 0.2),
    0 5px 20px 0 rgba(63, 63, 63, 0.19);
}
.buttonupdate {
  background-image: linear-gradient(
    to bottom right,
    getColour(accent),
    getColour(secondary)
  );
  @media (max-width: 700px) {
    font-size: 15px;
  }
}
.buttonupdate:hover {
  background-image: linear-gradient(
    to bottom right,
    getColour(secondary),
    getColour(accent)
  );
}
.delete {
  background-color: #ba0035;
  @media (max-width: 700px) {
    font-size: 15px;
  }
}
.delete:hover {
  background-image: linear-gradient(
    to bottom right,
    getColour(primary),
    getColour(secondary)
  );
}
.logout-button {
  background-color: getColour(black);
  box-shadow: none;
  text-transform: uppercase;
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
.logout-button:hover {
  color: getColour(primary);
}
.add-cart,
.add-admin,
.login-formbutton {
  background-image: linear-gradient(
    to bottom right,
    getColour(accent),
    getColour(secondary)
  );
}
.add-cart:hover,
.add-admin:hover,
.login-formbutton:hover {
  background-image: linear-gradient(
    to bottom right,
    getColour(secondary),
    getColour(accent)
  );
}
