.nav {
  background-color: getColour(black);
  display: flex;
  justify-content: right;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: getColour(white);
    padding-left: 20px;
    margin-right: 20px;
    margin-top: 13px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  a:hover {
    color: getColour(primary);
  }
  a .active {
    color: getColour(primary);
  }
  .fas {
    padding-right: 8px;
  }
}
ul {
  background-color: getColour(black);
  display: flex;
  justify-content: center;

  margin: 0;
  padding-bottom: 5px;
  list-style: none;
  padding-left: 0px;

  li {
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: getColour(white);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    letter-spacing: 2px;
  }

  .home {
    padding-inline-end: 40px;
  }
}
a.topnav.active {
  color: getColour(primary);
}

.nav2 {
  padding-top: 15px;
  font-size: 20px;
  .active {
    color: getColour(primary);
  }
  a:hover {
    color: getColour(primary);
  }
}
.mainnav {
  a.hamburgermenu {
    display: none;
  }
  @media (max-width: 700px) {
    position: relative;

    .nav {
      display: none;
      background-color: getColour(black);
      padding-bottom: 50px;
    }
    a {
      color: getColour(white);
      margin-top: 0px;
      font-size: 20px;
      display: block;
      text-align: center;
      padding: 10px;
    }
    a.hamburgermenu {
      background-color: getColour(black);
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }

    .logout-button {
      display: block;
      position: absolute;
      top: 65%;
      right: 38%;
      box-shadow: none;
    }
  }
}
